* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --foni-divis: #e4e4e4; 
    --foni: #e0e0e0;
    --textis-feri: #000000;
    --borderis-feri: #b3b2b2;
    --accent-red: #e74c3c;
    --accent-blue: #3498db;
    --accent-blue-hover: #2980b9;
    --primary-dark: #252525;
}

.parent {
    display: flex;
    align-items: start;
    background-color: var(--foni);
}

.related-products {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 25px 25px 60px 0;
    width: 400px;
    flex: 1;
}

.related-product {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px 40px;
    border: 1px solid var(--borderis-feri);
    border-radius: 5px;
    background-color: var(--foni-divis);
}

.related-product:hover {
    transition: 0.4s ease;
    opacity: 0.8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.related-product img {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.related-product div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.related-product button {
    width: auto;
    background-color: var(--accent-blue);
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.related-product button:hover {
    background-color: var(--accent-blue-hover);
}

h3 {
    align-items: end;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    background-color: var(--foni);
    color: var(--textis-feri);
}

.price {
    color: var(--accent-red);
    font-weight: bold;
}

.cart {
    margin: 50px ;
    padding: 20px;
    border: 1px solid var(--borderis-feri);
    background-color: var(--foni-divis);
    width: 100%;
    max-height: 600px;
    overflow: scroll;
}

.cart h2 {
    color: var(--textis-feri);
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--foni-divis);
    border: 1px solid var(--borderis-feri);
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item button {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--accent-blue);
    width: auto;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.cart-item button:hover {
    background-color: var(--accent-blue-hover);
}

@media (min-width: 1440px) {
    .parent {
        padding: 0 50px;
    }
}

@media (max-width: 420px) {
    .parent {
        flex-direction: column;
    }

    .related-products {
        width: 100%;
        margin: 0;
        align-items: center;
    }

    .related-product {
        width: 90%;
        margin: 10px 0;
        flex-direction: column;
        text-align: center;
    }

    .related-product img {
        width: 100%;
        height: auto;
    }

    .cart {
        width: 95%;
        margin: 20px auto;
    }

    .related-product button {
        width: 100%;
        margin-bottom: 10px;
    }
}
