/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
  
body {
    line-height: 1.6;
    background-color: white;
    color: #333;
}

/* ნავბარი */
header {
    color: #fff;
    padding: 20px 0;
}

header .container {
    padding: 0 50px;
    width: 100%;
    height: 75px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1000;
}
  
.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}
  
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
  
nav ul li {
    margin: 0 15px;
}

nav img {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-left: 5px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
}

nav ul li a:hover,
nav ul li a:active {
    color: #ffd700;
}

/* ფუტერი */
footer {
    background-color: #252525;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
  
footer .social-media {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
footer .social-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
  
footer .social-link:hover {
    color: #ffd700;
}
  
footer .social-link .footer-img {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
    transition: transform 0.3s;
}
  
footer .social-link:hover .footer-img {
    transform: scale(1.3); 
}
  
footer p {
    margin-top: 10px;
}

/* --- რესპონსივი ლექტორის მოთხოვნის მიხედვით --- */

/* დესკტოპის breakpoint (1440px და მეტი) */
@media (min-width: 1440px) {
    header .container {
        padding: 0
