@media (max-width: 420px) {
    .product-page {
        flex-direction: column;
        margin: 0;
        padding: 80px 10px 20px 10px;
        background-color: var(--foni);
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .product-info {
        margin: 10px 0;
        padding: 10px;
    }

    .product-info h1 {
        font-size: 1.5rem;
        color: var(--textis-feri);
    }

    .related-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        padding: 10px;
    }

    .related-product {
        width: 100%;
        margin: 10px 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--foni-divis);
        border: 1px solid var(--borderis-feri);
    }

    .related-product button {
        width: 100%;
        max-width: 200px;
    }

    .related-product img {
        width: 80px;
        height: 80px;
    }

    .product-info select {
        width: 100%;
        background-color: var(--foni-divis);
        color: var(--textis-feri);
        border: 1px solid var(--borderis-feri);
    }
}
